body {
	color: #434455;
	font-family: "Roboto", sans-serif;
	background-color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.02em;

}

ul,
ol {
	list-style-type: none;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
}

.main-title {
	font-size: 56px;
	font-weight: bold;
	line-height: 1.07;
	text-align: center;
	letter-spacing: 0.02em;
	background-color: #2e2f42;
	color: #ffffff;
}

.main-button {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: #ffffff;
	background-color: #4d5aE5;
	;
}

.main-button:hover,
.main-button:focus {
	background-color: #404bbf;
}


.strategy {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2e2f42;
}



.nav-link:hover,
.nav-link:focus {
	color: #404bbf;
}

.nav-link:active {
	text-decoration: underline;
}

.logo {
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #4d5ae5;
}

.logo-span {
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height:  1.16 ;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #2e2f42;
}

.logo-span-one {
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height:  1.16 ;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #f4f4fd;
}
.nav-link {
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	color: #2e2f42;
	letter-spacing: 0.02em;
}

.address:hover,
.address:focus {
	color: #404bbf;
}

.address-class {
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
	color: #434455;
}
.address {
	color:#434455;
}



.section-one{
	background-color: #2e2f42 ;
}

.section-title {
	text-align: center;
	font-size: 36px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	line-height: 1.11;
	text-transform: capitalize;
	letter-spacing: 0.02em;
	color:#2e2f42 ;
}
.section-person {
	background-color: #f4f4fd;
}
.section-li{
	background-color:#FFFFFF ;
}
.person-title {
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2e2f42;
}

.product-title {
	font-family: Roboto;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2e2f42;
}

.menu {
	font-size: 12px;
	font-weight: 500;
	line-height: 1.25;
	letter-spacing: 0.04em;
}

.main-footer {
	background-color: #2e2f42;
}

.footer-link {
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #4d5ae5;
}

.footer-desc {
	color: #f4f4fd;
}

